<!DOCTYPE html>
<html>

<head>
    <title>Netflix Movies and TV Shows</title>
</head>

<body>
    <h1>About</h1>

    <h3><i> About this file: </i> </h3>

    <p> All TV Shows and Movies meta data on Netflix. Updated every month.</p>
    <p> Explore the rich tapestry of Netflix content with our comprehensive dataset, providing insights into shows and movies available in the United States as of July 2022.</p>
    <p> Unlock the magic behind each title, from release years to IMDb scores, in our curated dataset designed for cinephiles and data enthusiasts alike.</p>

    <h3><i>Key Variables:</i></h3>
    <ul>
        <li><strong>ID (JustWatch):</strong> Unique identifiers for precision.</li>
        <li><strong>Title:</strong> Names of your favorite shows and movies.</li>
        <li><strong>Release Year:</strong> Journey through time with release year details.</li>
        <li><strong>Age Certification:</strong> Tailored viewing experiences for all audiences.</li>
        <li><strong>Runtime:</strong> Episode and movie length for binge-watching planning.</li>
        <li><strong>IMDb Score & Votes:</strong> Audience opinions revealed.
            <ul>
                <li><strong>IMDb (Internet Movie Database):</strong> A renowned online database showcasing ratings, reviews, and information about movies, TV shows, and more.</li>
            </ul>
        </li>
        <li><strong>TMDB Popularity & Score:</strong> Additional insights for informed choices.
            <ul>
                <li><strong>TMDB (The Movie Database):</strong> A community-driven database offering information on movies and TV shows, enhancing your understanding of content appeal.</li>
            </ul>
        </li>
    </ul>

    <p><strong>Dataset Website Link</strong></li> 
        
        <p>Ready to dive into the world of Netflix data?</p>
        <p>Access our dataset <a href="https://www.kaggle.com/datasets/victorsoeiro/netflix-tv-shows-and-movies">here</a> and uncover hidden gems in the Netflix library 🎉.</p></p>

</body>

</html>
