<!DOCTYPE html>
<html>
    <head>
        <title> Netflix Movies and TV Shows</title>
        
    </head>
    <body>
        <h1>Netflix Movies and TV Shows</h1>
                <h2> Description  </h2>

        <p>Netflix is one of the most popular media and video streaming platforms. They have over 8000 movies or tv shows available on their platform, as of mid-2021, they have over 200M Subscribers globally. This tabular dataset consists of listings of all the movies and tv shows available on Netflix, along with details such as - cast, directors, ratings, release year, duration, etc.

        </p>
        
   
  
        
        
        <ul>  <li><a href="{{url_for('about')}}"> Link to About Page</a> </li>
            <li><a href="{{url_for('data')}}"> Link to Data Page</a> </li> </ul>
        
        
        
    </body>
</html>